/* GameHeader.tsx */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container .col {
    flex: 1;
    text-align: center;
}

.title,
.modal-header {
    font-style: italic;
    text-transform: uppercase;
    color: transparent !important;
    -webkit-text-stroke: #00ff00;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 10px #e9efff;
    transition: all 0.5s ease-in-out;
    text-align: center;
    letter-spacing: 0.1em;
    animation: flicker 1s ease-in-out infinite alternate;
    font-weight: bold !important;

    &:hover {
        color: #fff;
    }
}

.title {
    font-size: 2.8em;
    text-decoration: underline;
}

/* GameBoard.tsx */
#game-board {
    position: relative;
    width: auto;
    height: 77vh;
    overflow: hidden;
    border-radius: 15px;
    background-color: #00000093;
    box-shadow: 0 0 15px #00b100;
}

.board {
    position: relative;
    width: 100%;
    height: 100%;
}

/* life and score */
#life-score {
    position: absolute;
    left: 10px;
    font-size: 20px;
    z-index: 1;
}

/* Falling Words */
#falling-words {
    position: relative;
    width: 100%;
    height: 100%;
}

.falling-word {
    position: absolute;
    top: 0%;
    font-size: 26px;
    letter-spacing: 0.1em;
    color: #00FF00;
    animation-name: fall;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

/* Game Input */
.user-input {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    padding: 10px;
    font-size: 21px;
    letter-spacing: .1em;
    border-radius: 10px;
    background-color: #000000c4;
    color: #00b100;
    outline: none;
    box-shadow: 0 0 15px #00b100;
}

@keyframes fall {
    0% {
        top: 0%;
    }

    100% {
        top: 100%;
    }
}

/* Modal Game OVer */
.modal {
    background-color: #000000c4;
    --bs-modal-header-border-width: none !important;
    --bs-modal-footer-border-width: none !important;
}

.modal-content {
    background-color: #0000004d !important;
    box-shadow: 0 0 10px #00b100;
    height: 50vh;
    margin-bottom: 200px;
}

.modal-header {
    text-align: center !important;
    display: block !important;
    margin-top: 10px;
    font-size: 2.5em !important;
    text-decoration: underline;

}

.h4 {
    font-size: 40px !important;
    font-weight: bold !important;
}

.modal-body {
    text-align: center;
    font-size: 1.2em;
}


.modal-footer {
    justify-content: center !important;
}


.modal-footer button {
    justify-content: center !important;
}

.user-nickname-input {
    position: absolute;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
    padding: 8px;
    font-size: 22px;
    border: 1px solid #00b100 !important;
    background-color: #000000c4;
    color: #00b100 !important;
    outline: none;
}