body {
    min-height: 100vh !important;
    font-family: 'Kode Mono', monospace !important;
    background-color: #000 !important;
    color: #00FF00 !important;
    margin: 0 !important;
    display: flex !important;
    flex-direction: column !important;
}

@font-face {
    font-family: 'Kode Mono';
    src: url();
    font-optical-sizing: auto;
    font-weight: weight;
    font-display: swap;
    font-style: normal;
}

.footer {
    margin-top: auto;
    text-align: center;
}